@{
    Layout = null;
}

<fieldset>
    <legend>新增/编辑订单</legend>
        <div style="margin-left:5px;float:left" >
            <label for="txtOrderId">订单ID</label>
            <input type="text" id="txtOrderId" readonly="readonly" value="@Model.ID" />
         </div>
         <div style="margin-left:5px;float:left" >
            <label for="txtProductId">产品ID</label>
            <input type="text" id="txtProductId" readonly="readonly" value="@Model.ProductId" />
         </div>
        <div style="margin-left:5px;">
            <label for="txtProductName">产品名称</label>
            <input type="text" id="txtProductName" value="@Model.ProductName" />
         </div>
        <div style="margin-left:5px;float:left">
            <label for="txtBuyAmount">购买数量</label>
            <input type="text" id="txtBuyAmount" value="@Model.BuyAmount" />
         </div>
        <div style="margin-left:5px;">
            <label for="txtBuyPerson">购买人</label>
            <input type="text" id="txtBuyPerson" value="@Model.BuyPerson" />
         </div>
        <div style="margin-left:5px;float:none">
            <label for="txtBuyDate">购买日期</label>
            <input type="text" id="txtBuyDate" value="@Model.BuyDate" />
         </div>
         <div style="margin-left:5px;">
            <label for="txtIsArrivaled">是否到货</label>
            <input type="text" id="txtIsArrivaled" value="@Model.IsArrivaled" />
         </div>
        <div style="margin-left:5px;float:none">
            <label for="txtArrivaledDate">到货日期</label>
            <input type="text" id="txtArrivaledDate" value="@Model.ArrivaledDate" />
         </div>
         <div style="margin-left:5px;float:none">
            <label for="txtNotes">备注</label>
            <textarea id="txtNotes" rows="3"  cols="40"> @Model.Notes</textarea>
         </div>
        <div style="margin-left:5px;" class="actions" >
            <input type="button" class="btn primary" id="btnOrderFormSave" value="保存" onclick="onOrderFormSaveClick(); parent.jQuery.fancybox.close();" />
            <input type="button" class="btn"  id="btnOrderFormClose" value="关闭"  onclick="parent.jQuery.fancybox.close();" />
        </div>
</fieldset>
<script>
    function onOrderFormSaveClick() {
        var orderId = $("#txtOrderId").val();
        var productId = $("#txtProductId").val();
        var productName = $("#txtProductName").val();
        var buyAmount = $("#txtBuyAmount").val();
        var buyDate = $("#txtBuyDate").val();
        var buyPerson = $("#txtBuyPerson").val();
        var isArrivaled = $("#txtIsArrivaled").val();
        var arrivaledDate = $("#txtArrivaledDate").val();
        var notes = $("#txtNotes").val();
        var dataOrder = {
            "ID": orderId,
            "ProductId": productId,
            "ProductName": productName,
            "BuyAmount": buyAmount,
            "BuyDate": buyDate,
            "BuyPerson": buyPerson,
            "IsArrivaled": isArrivaled,
            "ArrivaledDate": arrivaledDate,
            "Notes": notes
        };

        var opType = "@ViewData["CRUD_ORDER"]";
        if (opType == "C") {
            doHttpClientSave("/ProductSys.WebAPI/api/OrderView/Create",
                    JSON.stringify(dataProduct),
                    function (result) {
                        alert(result);
                        window.location.href = "/ProductWebPortal/OrderView/List";
                    });
        }
        else {
            doHttpClientUpdate("/ProductSys.WebAPI/api/OrderView/Update",
                   JSON.stringify(dataProduct),
                   function (result) {
                       alert(result);

                   });
        }
    }
</script>