@{
    Layout = null;
}

<!DOCTYPE html>
<div class="actions" >
    <input type="button" id="btnProductFormSave" class="btn primary" value="保存" onclick="onProductFormSaveClick(); parent.jQuery.fancybox.close();" />
    <input type="button" id="btnProductFormClose" class="btn" value="关闭" onclick="parent.jQuery.fancybox.close();"/>
</div>
<div id="productForm">
    <fieldset  style="height:260px;">
        <legend>新增/编辑产品</legend>
        <div style="margin-left:5px;float:left" >
            <label for="txtProductId">产品ID</label>
            <input type="text" id="txtProductId" readonly="readonly" value="@Model.ID" />
         </div>
        <div style="margin-left:5px;">
            <label for="txtProductName">产品名称</label>
            <input type="text" id="txtProductName" value="@Model.ProductName" />
         </div>
        <div style="margin-left:5px;float:left">
            <label for="txtProductType">产品类型</label>
            <input type="text" id="txtProductType" value="@Model.ProductType" />
         </div>
        <div style="margin-left:5px;">
            <label for="txtUnitPrice">单价</label>
            <input type="text" id="txtUnitPrice" value="@Model.UnitPrice" />
         </div>
        <div style="margin-left:5px;float:none">
            <label for="txtNotes">备注</label>
            <textarea id="txtNotes" rows="3"  cols="40"> @Model.Notes</textarea>
         </div>
    </fieldset>
</div>

<script type="text/javascript">
    function onProductFormSaveClick() {
        var productId = $("#txtProductId").val();
        var productName = $("#txtProductName").val();
        var productType = $("#txtProductType").val();
        var unitPrice = $("#txtUnitPrice").val();
        var notes = $("#txtNotes").val();
        var dataProduct = {
            "ID": productId,
            "ProductName": productName,
            "ProductType": productType,
            "UnitPrice": unitPrice,
            "Notes": notes
        };

        var opType = "@ViewData["PRODUCT_ADD_OR_EDIT"]";
        if (opType == "A") {
            doHttpClientSave("/ProductSys.WebAPI/api/Product/Create",
                    JSON.stringify(dataProduct),
                    function (result) {
                        alert(result);
                        window.location.href = "/ProductWebPortal/Product/List";
                    });
        }
        else {
            doHttpClientUpdate("/ProductSys.WebAPI/api/Product/Update",
                   JSON.stringify(dataProduct),
                   function (result) {
                       alert(result);

                   });
        }

    }
</script>

 
