@model MvcDialogTutorial.Models.Product
@using (Html.BeginForm("Save", "Product", FormMethod.Post, new { id = "ProductForm" }))
{
    @Html.Hidden("Id")
    <label class="Title">
        <span>产品Id</span><br />
        @Html.TextBox("ProductId")<br />
    </label>
    <label class="Body">
        <span>产品名称 </span><br />
        @Html.TextBox("ProductName")<br />
    </label>
        <label class="Body">
        <span>备注</span><br />
        @Html.TextBox("Notes")<br />
    </label>
}

@*
@model Website.Models.Note
@using(Html.BeginForm("Save", "Home", FormMethod.Post, new { id = "NoteForm" })) {
@Html.Hidden("Id")
<label class="Title">
    <span>Title</span><br />
    @Html.TextBox("Title")<br />
</label>
<label class="Body">
    <span>Body</span><br />
    @Html.TextArea("Body")
</label>
}
    <script type="text/javascript">
        $(function () {
            $("#NoteForm").validate({
                rules: {
                    Title: { required: true },
                    Body: { required: true }
                }
            });
        });
    </script>*@